<h2>Task Dashboard</h2>
 
 <section class="tasks-container">
     <!--every would be displayed here-->
     <div>
     
    </div>
 
</section>

<div id="tasks-links-holder">
    <a href="/task/add">Add a Task</a>
</div>

