    <h2>Add Task</h2>
    
    <form method="POST" action="/task/add">

        <label>Title</label>
        <input type="text" name="title" id="title"> <br><br>

        <label>Description</label>
        <textarea id="description" name="description"></textarea><br><br>

        <label>Reminder Date</label>
        <input type="date" name="reminderDate" id="reminderDate"> <br><br>

        <input type="submit" value="Add Task">

    </form>

